# Ignore environment variables
backend/.env

# Python-related ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Django-related ignores
media/
staticfiles/
test/

# Ignore uploaded images
ai-api/uploads/

# Ignore .pem
*.pem
*.crt
*.key